
@{
    ViewBag.Title = "Thêm bài thi";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}
<link href="~/Content/style.css" rel="stylesheet" />
<link href="~/Content/style1.css" rel="stylesheet" />
<div class="body-content">
    <div class="container mt-3">
        <h2>Quản lý bài thi</h2>
        <br />
        <div class="content-header">
            <a href="@Url.Action("Index", "ExamManagement")"><button class="btn btn-default">Danh sách bài thi</button></a>
            <a href="@Url.Action("Create", "ExamManagement")"><button class="btn btn-primary">Thêm bài thi</button></a>
        </div>
        <hr />
        <div class="add-Exam-item">
            <div class="add-Exam-item-item">
                <table>
                    <tr>
                        <td><b>ID bài thi: </b></td>
                        <td><input type="text" name="" value="" readonly style="background-color: #aaa" /></td>
                    </tr>
                    <tr>
                        <td><b>Tên bài thi: </b></td>
                        <td><input type="text" name="" value="" placeholder="Nhập tên bài thi" /></td>
                    </tr>
                    <tr>
                        <td><b>Thời gian làm bài (phút): </b></td>
                        <td><input type="number" name="" value="" placeholder="60" /></td>
                    </tr>
                </table>
            </div>
            <hr />
            <div class="add-Exam-item-item">
                <h4 style="text-align: center">Danh sách câu hỏi</h4>
                <div style="display:flex; justify-content: center">
                    <div class="search-item">
                        <input type="text" name="" value="" placeholder="Nhập tên hoặc ID câu hỏi" />&nbsp<input type="submit" name="" value="Tìm kiếm" />
                    </div>
                </div>
                <br />
                <table>
                    <tr>
                        <th>STT</th>
                        <th>Tên câu hỏi</th>
                        <th>A</th>
                        <th>B</th>
                        <th>C</th>
                        <th>D</th>
                        <th>Đáp án</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1 + 2 = ?</td>
                        <td>4</td>
                        <td>3</td>
                        <td>6</td>
                        <td>5</td>
                        <th>B</th>
                        <td style="text-align: center">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-remove"></span> Thêm
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>9 * 2 = ?</td>
                        <td>10</td>
                        <td>18</td>
                        <td>16</td>
                        <td>17</td>
                        <th>B</th>
                        <td style="text-align: center">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-remove"></span> Thêm
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>7 * 6 = ?</td>
                        <td>44</td>
                        <td>41</td>
                        <td>42</td>
                        <td>46</td>
                        <th>C</th>
                        <td style="text-align: center">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-remove"></span> Thêm
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <hr />
            <div class="add-Exam-item-item">
                <h4 style="text-align: center">Danh sách câu hỏi đã thêm vào bài thi</h4>
                <table>
                    <tr>
                        <th>STT</th>
                        <th>Tên câu hỏi</th>
                        <th>A</th>
                        <th>B</th>
                        <th>C</th>
                        <th>D</th>
                        <th>Đáp án</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1 + 2 = ?</td>
                        <td>4</td>
                        <td>3</td>
                        <td>6</td>
                        <td>5</td>
                        <th>B</th>
                        <td style="text-align: center">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-remove"></span> Xóa
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>9 * 2 = ?</td>
                        <td>10</td>
                        <td>18</td>
                        <td>16</td>
                        <td>17</td>
                        <th>B</th>
                        <td style="text-align: center">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-remove"></span> Xóa
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>7 * 6 = ?</td>
                        <td>44</td>
                        <td>41</td>
                        <td>42</td>
                        <td>46</td>
                        <th>C</th>
                        <td style="text-align: center">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-remove"></span> Xóa
                            </button>
                        </td>
                    </tr>
                </table>
                <br />
            </div>
        </div>
        <button type="button" class="btn btn-primary" style="margin-left: 46%">Thêm bài thi</button>
    </div>
    <br />
</div>

