@model DA_WEBNC.Models.BaiThi
@{
    ViewBag.Title = "Chi tiết bài thi";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<link href="~/Content/style1.css" rel="stylesheet" />s
<div class="body-content">
    <div class="container mt-3">
        <h2 style=" margin-right: 40px;">Chi tiết bài thi</h2>
        <br />
        @Html.ActionLink("Thêm câu hỏi", "AddCH", new { Model.IDBaiThi }, new { @class = "btn btn-info", @style = "margin-left: 43%" })
        <br />
        <br />

        <div class="body-main">
            <table class="table">
                <tr>
                    <th class="text-center">
                        ID Câu hỏi
                    </th>
                    <th class="text-center">
                        Câu hỏi
                    </th>
                </tr>

                @foreach (var item in Model.CTBTs)
                {
                    <tr>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.IDCauHoi)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.CauHoi)
                        </td>
                    </tr>
                }
            </table>
            @Html.ActionLink("Trở về", "Index", "", new { @class = "btn btn-info", @style = "margin-left: 45%" })
        </div>
    </div>
</div>
