
.profile_img {
    width: 300px;
    margin-left: 50px;
    margin-top: 50px;
    background-color: white;
    height: 400px;
    float: left;
    position: relative;
    border-radius: 2%;
}

.profile_content {
    margin-left: 20px;
    margin-top: 50px;
    background-color: white;
    height: 550px;
    width: 780px;
    float: left;
    position: relative;
    border-radius: 2%;
}
.create_content {
    margin-left: 50px;
    margin-top: 50px;
    background-color: white;
    height: 570px;
    float: left;
    position: relative;
    border-radius: 2%;
}
.edit_content {
    margin-left: 50px;
    margin-top: 50px;
    background-color: white;
    height: 480px;
    float: left;
    position: relative;
    border-radius: 2%;
}

.item-img {
    z-index: 2;
    display: flex;
    justify-items: center;
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-size: 200px 200px;
    border-radius: 50%;
}

.item-btn {
    z-index: 2;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.item-name {
    z-index: 2;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.item-role {
    z-index: 2;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.item-content {
    z-index: 2;
    display: flex;
    width: 800px;
    height: 50px;
    margin-left: 20px;
}

    .item-content h5 {
        margin-left: 5px;
        color: orangered;
    }

.item-info {
    z-index: 2;
    width: 800px;
    height: 40px;
    margin-left: 80px;
    text-align: left;
    float: left;
    display: block;
}

.col-sm-8 input {
    height: 40px;
    width: 400px;
}

.input_update {
    padding: 10px;
}
