<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - bootstrap sidebar</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/Content/style.css">

    <link rel="stylesheet" href="~/Content/admin.css">
</head>
<body>
    <!-- partial:index.partial.html -->
    <nav class="mnb navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="ic fa fa-bars"></i>
                </button>
                <div style="padding: 15px 0;">
                    <a href="#" id="msbo"><i class="ic fa fa-bars"></i></a>
                </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@DA_WEBNC.Models.StaticAcc.Name <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Login/Login"><span class="glyphicon glyphicon-log-out"> </span> &nbsp; Đăng xuất</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="https://www.w3schools.com/"><span class="glyphicon glyphicon-question-sign"> </span> &nbsp; Help</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--msb: main sidebar-->
    <div class="msb" id="msb">
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="brand-wrapper">
                    <!-- Brand -->
                    <div class="brand-name-wrapper">
                        <a class="navbar-brand" href="#">
                            <span class="glyphicon glyphicon-cog"> Manager</span>
                        </a>
                    </div>

                </div>

            </div>

            <!-- Main Menu -->
            <div class="side-menu-container">
                <ul class="nav navbar-nav">

                    <li><a href="/Profile/Index"><i class="glyphicon glyphicon-info-sign"></i> Thông tin cá nhân</a></li>
                    <li><a href="/AccountManagement/Index"><i class="glyphicon glyphicon-user"></i> Quản lý tài khoản</a></li>
                    <li><a href="/ExamManagement/Index"><i class="glyphicon glyphicon-list-alt"></i> Quản lý bài thi</a></li>
                    <li><a href="/QuestionManagement/Index"><i class="glyphicon glyphicon-question-sign"></i> Quản lý câu hỏi</a></li>
                    <li><a href="/Profile/ChangePasswordNV"><i class="glyphicon glyphicon-edit"></i> Đổi mật khẩu</a></li>
                    <li><a href="/Login/Login"><i class="glyphicon glyphicon-log-out"></i> Đăng xuất</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </div>
    <!--main content wrapper-->
    <div class="mcw">
        <!--navigation here-->
        <!--main content view-->
        <div class="cv">
            <div>
                <div class="inbox">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <!-- partial -->
    <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
    <script src="~/Content/js.js"></script>
</body>
</html>
