@model IEnumerable<DA_WEBNC.Models.BaiThiH>

@{
    ViewBag.Title = "Lịch sử bài thi";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<link href="~/Content/style.css" rel="stylesheet" />

<div class="main-body">
    <div class="body-top">
        <h2>Điểm các bài kiểm tra</h2>
        <hr />
    </div>
    <div class="body-main">
        @foreach (var item in Model)
        {
            <div class="item-exam ">

                <div class="img-item-exam content-item-exam">
                    <img src="~/Content/Images/icon_ask.jpg" alt="Alternate Text" />
                </div>
                <div style="margin-left:10px">
                    <p>Bài thi</p>
                    <p>@item.BaiThi.TenBaiThi</p>
                </div>
                <div class="content-item-exam">
                    <p>Thời gian</p>
                    <p><b>@item.ThoiGianLamBai</b></p>
                </div>
                @*<div class="content-item-exam">
                        <p>Kết quả</p>
                        <p><b>330</b></p>
                    </div>*@
                <div class="content-item-exam">
                    <p>Điểm</p>
                    <span><b>@item.TongSoDiem</b></span>
                </div>
                <div class="btn-item-exam">
                        <a href="@Url.Action("ExamResult", "ProfileUser", new { item.IDBaiThiHS })"><input class="btn btn-link" type="submit" value="Xem kết quả chi tiết >>" /></a>
                    </div>
                <hr />
            </div>
        }
    </div>
    </div>
