@model IEnumerable<DA_WEBNC.Models.CTBTH>

@{
    ViewBag.Title = "List_Exam";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    <link href="~/Content/style.css" rel="stylesheet" />
}
<div class="main-body">
    <div class="body-top">
        <h2>Chi tiết kết bài kiểm tra:</h2>
        <h3 class="item-result">Số câu đúng: <span>25/30</span> |  Điểm: <span>7.5</span></h3>

        @*Note*@
        @*JS: sau này set điểm từ 7 trở lên màu xanh lá
            từ 5-6.9 màu vàng cam
            dưới 5 màu đỏ*@

        <hr />
    </div>
    <div class="body-main">
        <table>
            <tr>
                <th>Câu hỏi</th>
                <th>Trả lời</th>
                <th>Đáp án</th>
            </tr>
            @{
                var count = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td>Câu @count</td>
                        <td class="false-result">@item.CauTraLoi</td>
                        <td class="true-result">@item.DapAn</td>
                    </tr>
                    count++;
                }
            }
            @*<tr>
                        <td>Câu 1</td>
                        <td class="false-result">A</td>
                        <td class="true-result">B</td>
                    </tr>
                    <tr>
                    <td>Câu 2</td>
                    <td class="true-result">A</td>
                    <td class="true-result">A</td>
                </tr>
                <tr>
                    <td>Câu 3</td>
                    <td class="false-result">A</td>
                    <td class="true-result">C</td>
                </tr>
                <tr>
                    <td>Câu 4</td>
                    <td class="true-result">B</td>
                    <td class="true-result">B</td>
                </tr>
                <tr>
                    <td>Câu 5</td>
                    <td class="false-result">D</td>
                    <td class="true-result">B</td>
                </tr>
                <tr>
                    <td>Câu 6</td>
                    <td class="false-result">C</td>
                    <td class="true-result">A</td>
                </tr>
                <tr>
                    <td>Câu 7</td>
                    <td class="true-result">A</td>
                    <td class="true-result">A</td>
                </tr>
                <tr>
                    <td>Câu 8</td>
                    <td class="true-result">B</td>
                    <td class="true-result">B</td>
                </tr>
                <tr>
                    <td>Câu 9</td>
                    <td class="false-result">B</td>
                    <td class="true-result">A</td>
                </tr>
                <tr>
                    <td>Câu 10</td>
                    <td class="false-result">C</td>
                    <td class="true-result">A</td>
                </tr>
                <tr>
                    <td>Câu 11</td>
                    <td class="true-result">D</td>
                    <td class="true-result">D</td>
                </tr>
                <tr>
                    <td>Câu 12</td>
                    <td class="false-result">C</td>
                    <td class="true-result">A</td>
                </tr>
                <tr>
                    <td>Câu 13</td>
                    <td class="true-result">A</td>
                    <td class="true-result">A</td>
                </tr>
                <tr>
                    <td>Câu 14</td>
                    <td class="false-result">C</td>
                    <td class="true-result">B</td>
                </tr>
                <tr>
                    <td>Câu 15</td>
                    <td class="false-result">D</td>
                    <td class="true-result">A</td>
                </tr>
                <tr>
                    <td>Câu 16</td>
                    <td class="false-result">C</td>
                    <td class="true-result">B</td>
                </tr>
                <tr>
                    <td>Câu 17</td>
                    <td class="true-result">A</td>
                    <td class="true-result">A</td>
                </tr>
                <tr>
                    <td>Câu 18</td>
                    <td class="false-result">B</td>
                    <td class="true-result">A</td>
                </tr>
                <tr>
                    <td>Câu 19</td>
                    <td class="false-result">C</td>
                    <td class="true-result">D</td>
                </tr>
                <tr>
                    <td>Câu 20</td>
                    <td class="true-result">A</td>
                    <td class="true-result">A</td>
                </tr>
                <tr>
                    <td>Câu 21</td>
                    <td class="false-result">A</td>
                    <td class="true-result">B</td>
                </tr>
                <tr>
                    <td>Câu 22</td>
                    <td class="true-result">A</td>
                    <td class="true-result">A</td>
                </tr>
                <tr>
                    <td>Câu 23</td>
                    <td class="false-result">A</td>
                    <td class="true-result">C</td>
                </tr>
                <tr>
                    <td>Câu 24</td>
                    <td class="true-result">B</td>
                    <td class="true-result">B</td>
                </tr>
                <tr>
                    <td>Câu 25</td>
                    <td class="false-result">D</td>
                    <td class="true-result">B</td>
                </tr>
                <tr>
                    <td>Câu 26</td>
                    <td class="false-result">C</td>
                    <td class="true-result">A</td>
                </tr>
                <tr>
                    <td>Câu 27</td>
                    <td class="true-result">A</td>
                    <td class="true-result">A</td>
                </tr>
                <tr>
                    <td>Câu 28</td>
                    <td class="true-result">B</td>
                    <td class="true-result">B</td>
                </tr>
                <tr>
                    <td>Câu 29</td>
                    <td class="false-result">B</td>
                    <td class="true-result">A</td>
                </tr>
                <tr>
                    <td>Câu 30</td>
                    <td class="false-result">C</td>
                    <td class="true-result">A</td>
                </tr>*@
        </table>
        <div class="backToHis">
            <button type="button" class="btn btn-warning">@Html.ActionLink("Quay lại lịch sử bài thi", "History_Exam", "Home")</button>
        </div>
        <hr />
    </div>
</div>

